/* Default */
:root {
  --color-primary: #000;
  --color-secondary: #000;
  --color-tertiary: #000;
}

/* Dark / Light */
:root.dark {
  --color-primary: #000;
  --color-secondary: #000;
  --color-tertiary: #000;
}
