.alt-authentication {
  display: flex;
  flex-direction: column;
  &__item {
    &:focus-within {
      border: 1px solid var(--color-primary);
    }
    transition: all 0.3s ease;
    position: relative;
    width: 100%;
    padding: 15px 15px;
    border: 1px solid var(--gray-light);
    border-radius: 8px;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &__input {
    width: 100%;
    &:focus + .alt-authentication__pseudo-ph,
    &:valid:required + .alt-authentication__pseudo-ph {
      top: 0;
      font-size: 12px;
    }
  }
  &__pseudo-ph {
    pointer-events: none;
    font-size: 16px;
    color: var(--gray);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    padding: 5px;
    background-color: var(--bg-secondary);
  }
  &__button {
  }
}

