/* Adaptive value from -- to */
@mixin av($property, $startSize, $minSize, $widthFrom: $container-max-width, $widthTo: 320) {
   $addSize: $startSize - $minSize;

   #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});

   @media (max-width: ($widthTo + px)) {
      #{$property}: $minSize + px;
   }

   @media (min-width: ($widthFrom + px)) {
      #{$property}: $startSize + px;
   }
}

// - - - - - - - [Підключення шрифтів] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin font($font-name, $file-name, $weight, $style) {
   @font-face {
      src: url("../fonts/#{$file-name}.woff2") format("woff2");
      font-family: $font-name;
      font-weight: #{$weight};
      font-style: #{$style};
      font-display: swap;
   }
}

// - - - - - - - [Підключення шрифтів "static"] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin font-static($font-name, $file-name) {
   @font-face {
      src: url("../fonts/#{$file-name}.woff2") format("woff2");
      font-family: $font-name;
      font-display: swap;
   }
}


/* === Элемент доступен только для вспомогательных технологий (скринридеры + google)=== */
@mixin visually-hidden() {
   position: absolute;
   overflow: hidden;
   margin: -1px;
   border: 0;
   padding: 0;
   width: 1px;
   height: 1px;
   white-space: nowrap;
   clip: rect(0, 0, 0, 0);
}